header
  .overlay
    .parallax
      h1 HistoryW NetstatsLs
        span  ---  -  Learning The Fun Way
      .one
      .two
      .three
      .four
      .five
main
  .container
    p This is a nice CSS mix-blend-mode effect. Navigation links at the top, images covering the screen and as you move down the screen the text moves up.
    a( href='https://www.w3schools.com/cssref/pr_mix-blend-mode.asp' target='blank') CSS mix-blend-mode
    pre
      | wrapper { 
      |   background-color: ... ;
      | }
      | 
      | text { 
      |   color: ... ;
      |   mix-blend-mode: ... ; 
      | }
    p Combining HTML, CSS and Javascript we will develop fantastic webpages. Using other tools to improve the look and feel, performance and interactivity. 
    p Examples of webpages will be added and links will also be listed. Get in touch if you have any thoughts or examples that you would want to add here. Going forward we may cover games, AI and blockchain.
footer
  p 2019, brought to you by 
    a(href="https://www.youtube.com/watch?v=6YYL9HRWy6Y&t=9s" target='_blank') @HistoryW NetstatLs YT
