header
  .overlay
    .parallax
      h1 HistoryW NetstatsLs
        span  ---  -  Learning The Fun Way
      .one
      .two
      .three
      .four
      .five
main
  .container
    p Sapiente nihil quidem tempora unde nobis eum corrupti veniam perferendis numquam, minima officia beatae quisquam quas cumque voluptatem facilis! Tenetur, praesentium corporis rerum repellendus vero temporibus quia voluptates corrupti, aliquam.
    a( href='https://www.w3schools.com/cssref/pr_mix-blend-mode.asp' target='blank') CSS mix-blend-mode
    pre
      | wrapper { 
      |   background-color: ... ;
      | }
      | 
      | text { 
      |   color: ... ;
      |   mix-blend-mode: ... ; 
      | }
    p Sint sequi consequuntur eaque, harum, est tempora dolorem ullam perferendis quia laudantium porro magni necessitatibus sit dicta quidem. Sint autem quidem recusandae, ipsam, dolorem saepe blanditiis dolor. Aliquid, voluptate, at.
    p Tempore placeat veritatis ad excepturi, quasi, consequatur fuga. Corporis suscipit at aut quaerat nostrum maxime amet ipsum illo qui. Voluptate aperiam nostrum natus voluptatem modi, hic aliquid tempora quisquam, itaque.
footer
  p Copyright &copy 2019 by 
    a(href='https://twitter.com/andrejsharapov' target='_blank') @andrejsharapov