@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


nav{
  background-color: blue;
}
.nav-bar{
  list-style-type: none;
}
.nav-item{
  display: inline-block;
}
.nav-item a{
  display: block;
  text-decoration: none;
  padding: 0.7em 2.1em;
  color: white; 
}
.nav-item a:hover{
  background-color: powderblue;
}


.text-focus-in {
	-webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
